.product{
    display: flex;
    font-family: 'Graphik';
    padding-top: 30px;
}

.product_left{
    width: 100%;
}

.product_right{
    width: 100%;
}

.product_name h1{
    padding-top: 20px;
    font-size: 24px;
    font-family: 'Nanum Regular';
    font-weight: 300;
}

.product_description p{
    font-size: 16px;
    color: #828282;
    margin: 20px 0;
}

.product_price span{
    font-size: 16px;
    padding-bottom: 10px;
}
.product_colors {
    padding: 20px 0;
}
.product_colors_name{ 
    font-size: 16px;
}

.product_colors_img{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0;
}

.product_color_img{
    width: 33px;
    height: 33px;
    margin-right: 8px;
    cursor: pointer
}

.product_img{
    width: 450px;
    margin: 0 auto;
}  

.product_img img{
    width: 100%;
}

.product_colors_list{
    width: 100%;
}

.product_colors_list select{
    width: 100%;
    padding: 15px 2px;
    border: #ebeced solid .7px;
}
.product_colors_list select > option{
   font-size: 14px;
   padding: 20px 0;
}

select:focus{
    outline: none;
}

.product_cart-btn {
    width: 50%;
    background-color: rgb(46, 46, 46);
    margin-top: 50px;
    color: white;
    padding: 15px 0px;
    text-align: center;
    cursor: pointer
}
.product_cart-btn:hover {
    background-color: rgb(88, 88, 88);
}