.inputs_top, .inputs_bottom{
    display: flex;  
    width: 100%;
    margin-bottom: 10px;
}
.inputs_bottom{
    padding-top: 10px;
}
.input_color_name, .input_color_hexa, .input_color_cant, .input_color_img, .input_color_main {
    margin-left: 10px;
    display: flex;
    width:100%;
}
.input_color_name, .input_color_hexa, .input_color_cant label{
    width:75%;
}
.input_color_img, .input_color_main{
    margin-top: 20px;
    display: flex;
    width:100%;
}
.inputs_top label{
    width: 100%;
}
.inputs_top input{
    width: 100%;
}
.submit_color{
margin-top: 25px;
width: 50%;
margin:0 auto;
padding: 8px;
}