.inputs_top{
    display: flex;  
    width: 90%;
    justify-content: space-between;
}
.inputs_bottom{
    display:flex;
    padding-top: 10px;
    width: 90%;
    justify-content: space-between;
}
.input_name, .input_color, .input_cant, .input_img, .input_main {
    margin-left: 10px;
    display: flex;
}
.input_img, .input_main{
    margin-top: 20px;
}
.inputs_top label{
    width: 72%;
}
.inputs_top input{
    width: 100%;
}
.submit_color{
    width: 40%;
    padding: 10px;
}
.colors_submit{
    width: 40%;
    padding: 10px;
}
.colors_btn{
    padding: 10px;
    color: white;
    background-color: rgb(46, 46, 46);
    border: none;
    cursor: pointer;
    margin:0 0 20px 10px;
}

