.danger {
    color: red;
}
.titulo_form {
    font-size: 18px;
    color: black;
    font-family: 'Graphik';
    font-weight: 400;
    text-align: center;
    padding-bottom: 45px;

}
.product_description {
    padding: 8px;
}
label {
    font-family: 'Graphik';
}